body {
	margin: 0;
	padding: 0;
}

nav {
	background-color: lightgray;
  	border: 1px solid lightgray;
  	padding: 10px;
}

a:hover {
    text-decoration: underline;
}

a:link {
  text-decoration: none;
}

.logo {
  	color: black;
  	margin-right: 10px;
}

.rightnav {
  	color: purple;
  	margin-right: 10px;
  	float: right;
}

.pagination {
	border: 1px solid lightgray;
	display: inline-block;
	border-radius: 3px;
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 20px;
}

.pagination span {
	border: 1px solid lightgray;
	border-width: 0 1px 0 1px;
}

.pagination span, .pagination a {
	padding: 10px;
	display: inline-block;
}

form {
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 15px;
}

label {
	display: block;
}

#search {
	font: inherit;
	border-radius: 3px;
	border: 1px solid lightgray;
	padding: 5px;
	width: 500px;
}
.magnifying-glass {
	border: 1px solid lightgray;
	display: inline-block;
	background: none;
	border-radius: 3px;
	background-image: url(images/magnifying-glass.png);
	background-size: 20px;
	background-repeat: no-repeat;
	text-indent: -9999px;
	width: 20px;
	padding: 5px;
}

p {
	margin-top: 20px;
	margin-left: 30px;
	margin-bottom: 15px;
}